<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Tiger Rides</title>
    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
        .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
        .fa-anchor,.fa-coffee {font-size:200px}
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            background-repeat: no-repeat;
            background-blend-mode: overlay;
            background-size: 100%;
            background-image: url({{ url_for('static', filename='img/nassau_hall.jpg') }});            
        }
        #tiger_rides_body {
            flex: 1
        }
    </style>
    <script>
        // Resize elements that should have matching heights
        $(document).ready(function(){
            $(window).resize(function(){
                var height = $("#navigation-placeholder").height();
                $("#dummy_padded_div").height(height);
            });    
        });
    </script>
</head>

<body>

    <!-- Navigation Bar -->

    <div id="navigation-placeholder"></div>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(function(){
            $("#navigation-placeholder").load("./navigation.html");
        });
    </script>

    <!-- End of Navigation Bar -->
    
    <!-- Main part of the Tiger Riges Application UI -->
    
    <div class="w3-container w3-white" style="opacity:0.85" id="tiger_rides_body">
    
        <!-- Padded element to make sure that the navigation bar never covers
        the first element that has text. See the script in the header for info -->
        <div class="w3-container" id="dummy_padded_div" style="height: 50px"></div>

        <!-- First Grid (Search Options)-->
        <div class="w3-row-padding w3-padding-16 w3-container">
            
            <div class="w3-container w3-padding-16">
                
                <h4>Search for other Tigers going to Reunions!<br></h4>
                                
                <form id="search-form">
                    
                    <!-- Load items useful for formulating search queries -->
                    <datalist id="origin_state">
                        <option value="AL"> <option value="AK"> <option value="AZ">
                        <option value="AR"> <option value="CA"> <option value="CO">
                        <option value="CT"> <option value="DE"> <option value="FL">
                        <option value="GA"> <option value="HI"> <option value="ID">
                        <option value="IL"> <option value="IN"> <option value="IA">
                        <option value="KS"> <option value="KY"> <option value="LA">
                        <option value="ME"> <option value="MD"> <option value="MA">
                        <option value="MI"> <option value="MN"> <option value="MS">
                        <option value="MO"> <option value="MT"> <option value="NE">
                        <option value="NV"> <option value="NH"> <option value="NJ">
                        <option value="NM"> <option value="NY"> <option value="NC">
                        <option value="ND"> <option value="OH"> <option value="OK">
                        <option value="OR"> <option value="PA"> <option value="RI">
                        <option value="SC"> <option value="SD"> <option value="TN">
                        <option value="TX"> <option value="UT"> <option value="VT">
                        <option value="VA"> <option value="WA"> <option value="WV">
                        <option value="WI"> <option value="WY"> <option value="GU">
                        <option value="PR"> <option value="VI">
                    </datalist>
                
                    <label class="w3-padding-small" for="state">Which state are you coming from? </label>
                    <input class="w3-padding-small" list="origin_state" type="text" name="state" placeholder="e.g. NJ">
                
                    <button class="w3-button:hover w3-padding-small" type="submit" onclick="return searchTigers()">Search</button>
                    
                </form>
                
            </div>
            
            <!-- Process the search query -->
            <script>
                function searchTigers() {
                    var formData = document.getElementById("search-form");
                    var payload = {};
                    payload["origin_state"] = formData.elements[0].value;
                    
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function() {
                        if (this.readyState == 4 && this.status == 200) {
                            var searchResults = JSON.parse(this.responseText);
                            var tigerCards = document.getElementById("tiger-search-results");
                            tigerCards.innerHTML = searchResults;
                        }
                    
                    }
                    xhttp.open("POST", "/search/", true);
                    xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                    xhttp.send(JSON.stringify(payload));
                    
                    // https://stackoverflow.com/questions/7393484/xmlhttprequest-asynchronous-not-working-always-returns-status-0
                    return false;
                }
            </script>
            
        </div>
        <!-- End of First Grid -->
        
        <!-- Second Grid (Search Results)-->
        <div class="w3-row-padding w3-padding-16 w3-container" id="tiger-search-results">        
        </div>
        <!-- End of Second Grid-->
    
    </div>
    
    <!-- End of Tiger Rides UI -->
    
    <!-- Footer style -->
    <footer class="w3-row-padding w3-padding-small w3-container w3-black">
        <p class="w3-center">
            CSS provided by <a href="https://www.w3schools.com/w3css/">W3 CSS</a><br>
            Logo made with <a href="https://www.designevo.com/" title="Free Online Logo Maker">DesignEvo</a><br>
            &#169; Chege Gitau & Komron Shayegan, 2018
        </p>
    </footer>
    
    <!-- End of Footer -->

    <script>
    function toggleMenuOnSmallScreens() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
    </script>

</body>

</html>
