<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Tiger Rides</title>
        <style>
            body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
            .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
            .fa-anchor,.fa-coffee {font-size:200px}
            body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
                background-repeat: no-repeat;
                background-blend-mode: overlay;
                background-size: 100%;
                background-image: url({{ url_for('static', filename='img/nassau_hall.jpg') }});            
            }
            
            form {
                border-radius: 5px;
                padding: 20px;
            }
            
            #tiger_rides_body {
                flex: 1
            }
        </style>
        <script>
            // Resize elements that should have matching heights
            $(document).ready(function(){
                $(window).resize(function(){
                    var height = $("#navigation-placeholder").height();
                    $("#dummy_padded_div").height(height);
                });    
            });
            
        </script>
    </head>

    <body>

        <!-- Navigation Bar -->

        <div id="navigation-placeholder"></div>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script>
            $(function(){
                $("#navigation-placeholder").load("./navigation.html");
            });
        </script>

        <!-- End of Navigation Bar -->
        
        <!-- Main part of the Tiger Riges Application UI -->
        
        <div class="w3-container w3-white" style="opacity:0.85" id="tiger_rides_body">
        
            <!-- Padded element to make sure that the navigation bar never covers
            the first element that has text. See the script in the header for info -->
            <div class="w3-container" id="dummy_padded_div" style="height: 50px"></div>

            <!-- Present a LogIn form-->
            <div class="w3-container w3-padding-large" id="logged_in_contents">
                <div class="w3-container w3-padding-16">
                                    
                    <form id="login_form" method="post">
                        
                        <label for="email_address"> Email: </label><input class="w3-input" type="email" name ="email_address" required/>
                        <br /></br />
                        <label for="password"> Password: </label><input class="w3-input" type="password" name="password" minlength="8" required/>
                        <br /><br />
                        <button class="w3-button w3-center w3-green" type="submit" onclick="return logInMember()">Log In</button>
                        
                    </form>
                    
                </div>
                
            </div>
            
            <!-- End of LogIn-->
        
        </div>
        
        <!-- End of Tiger Rides UI -->
        
        <!-- Footer style -->
        <footer class="w3-row-padding w3-padding-small w3-container w3-black">
            <p class="w3-center">
                CSS provided by <a href="https://www.w3schools.com/w3css/">W3 CSS</a><br>
                Logo made with <a href="https://www.designevo.com/" title="Free Online Logo Maker">DesignEvo</a><br>
                &#169; Chege Gitau & Komron Shayegan, 2018
            </p>
        </footer>
        
        <!-- End of Footer -->
            
        <script type="text/javascript">
            function loadUserDetails(userDetails) {
                // Replace the navbar links with acknowledgement of the user loggin in
                document.getElementById("register_navbar_link").style.display = "none";
                document.getElementById("login_navbar_link").style.display = "none";
                document.getElementById("navbar_contents").insertAdjacentHTML(
                    "beforeend",
                    `<a href="/" class="w3-bar-item w3-button w3-padding-16 w3-hover-white w3-black w3-right">Log Out</a>
                    <span class='w3-bar-item w3-orange w3-right'><strong>Logged in as ` + userDetails["first_name"] + `</strong></span>`
                );
                
                var mainBody = document.getElementById("logged_in_contents");
                mainBody.innerHTML = `<p>These are your trips</p>
                <div class='w3-responsive'> <table class='w3-table-all' id="user_owned_trips"> <tr>
                <th>Trip ID</th><th>Origin</th><th>Destination</th><th>Date of Departure</th>
                <th>Time of Departure</th><th>Num Seats Still Available</th><th>Edit</th></tr></table></div>`;

                var payload = {"trip_ids": userDetails["trips_owned"]}
                
                makeHttpRequest("POST", "/read_trips/", payload, function(results) {
                    var tableElement = document.getElementById("user_owned_trips");
                    for (let i = 0; i < results.length; i++) {
                        tableElement.insertAdjacentHTML("beforeend", results[i]["html_version"]);
                    }
                });
                
                return false;
            }
            
            function makeHttpRequest(method, url, payload, callBack) {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        callBack(JSON.parse(this.responseText));
                    }
                }
                xhttp.open(method, url, true);
                xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                xhttp.send(JSON.stringify(payload));
                
                return false;
            }
            
            function logInMember() {
                var form = document.getElementById("login_form");
                if (form.reportValidity() === false) {
                    alert("Please fill out the required fields");
                    return;
                }
                
                var elements = form.elements;
                var payload = {};
                
                for (var i = 0; i < elements.length; i++) {
                    payload[elements[i].name] = elements[i].value;
                }
                
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        var results = JSON.parse(this.responseText);
                        if (results["login_successful"] == true) {
                            loadUserDetails(results["login_payload"]);
                        } else {
                            alert(results["login_payload"]);
                        }
                    }
                
                }
                xhttp.open("POST", "/login/", true);
                xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                xhttp.send(JSON.stringify(payload));
                
                return false;
            }
            
            function editTrip(tripId) {
                var tripIdAsNum = parseInt(tripId, 10);
                var elementToBeModified = document.getElementById("logged_in_contents");
                elementToBeModified.insertAdjacentHTML("afterbegin", "<form id='trip_to_be_changed'></form>");
                var formElement = document.getElementById("trip_to_be_changed");
                formElement.innerHTML = `
                    
                    <p id="trip_to_be_changed_id" style={"display":"none"}></p>
                    <p id="trip_to_be_changed_owner_id" style={"display": "none"}></p>
                    
                    <label for="origin">Origin:</label>
                    <input class="w3-input" type="text" name="origin" id="trip_to_be_changed_origin" disabled/>
                    <br />
        
                    <label for="destination">Destination:</label>
                    <input class="w3-input" type="text" name="destination" id="trip_to_be_changed_destination" disabled/>
                    <br />
        
                    <label for="departure_date">Departure Date:</label>
                    <input class="w3-input" type="date" name="departure_date" id="trip_to_be_changed_departure_date" />
                    <br />
        
                    <label for="departure_time">Departure Time:</label>
                    <input class="w3-input" type="time" name="departure_time" id="trip_to_be_changed_departure_time" />
        
                    <p>How many seats are available?</p>
                    <input class="w3-input" type="number" name="seats_available" id="trip_to_be_changed_seats_available" min="0"/>
                    <br />
                    
                    <button class="w3-button w3-green" type="submit" onclick="return saveTrip()">Save Changes</button>
                `
                makeHttpRequest("POST", "/read_trips/", {"trip_ids": [tripIdAsNum]}, function(results) {
                    var tripDetails = results[0];
                    document.getElementById("trip_to_be_changed_origin").value = tripDetails["origin"];
                    document.getElementById("trip_to_be_changed_destination").value = tripDetails["destination"];
                    document.getElementById("trip_to_be_changed_departure_date").value = tripDetails["departure_date"];
                    document.getElementById("trip_to_be_changed_departure_time").value = tripDetails["departure_time"];
                    document.getElementById("trip_to_be_changed_seats_available").value = parseInt(tripDetails["seats_available"]);
                    document.getElementById("trip_to_be_changed_id").value = tripIdAsNum; 
                    document.getElementById("trip_to_be_changed_owner_id").value = parseInt(tripDetails["trip_owner"]);
                });
                
                return false;
            }
            
            function saveTrip() {
                var formElements = document.getElementById("trip_to_be_changed").elements;
                var payload = {};
                for (var i = 0; i < formElements.length; i++) {
                    payload[formElements[i].name] = formElements[i].value;
                }
                
                var userId = document.getElementById("trip_to_be_changed_owner_id").value;
                payload["trip_id"] = document.getElementById("trip_to_be_changed_id").value;
                payload["trip_owner"] = userId;
                delete payload[""];
                
                makeHttpRequest("POST", "/update_trip/", payload, function(results) {
                    document.getElementById("trip_to_be_changed").style.display = "none";
                    if (results["trip_info"] !== false) {
                        refreshTrips(userId, true);
                    }
                });
                
                return false;
            }
            
            function refreshTrips(userId, get_user_owned) {
                var mainBody = document.getElementById("logged_in_contents");
                mainBody.innerHTML = `<p>These are your trips</p>
                <div class='w3-responsive'> <table class='w3-table-all' id="user_owned_trips"> <tr>
                <th>Trip ID</th><th>Origin</th><th>Destination</th><th>Date of Departure</th>
                <th>Time of Departure</th><th>Num Seats Still Available</th><th>Edit</th></tr></table></div>`;

                var payload = {"user_id": userId, "get_user_owned": get_user_owned}
                
                makeHttpRequest("POST", "/read_trips/", payload, function(results) {
                    var tableElement = document.getElementById("user_owned_trips");
                    for (let i = 0; i < results.length; i++) {
                        tableElement.insertAdjacentHTML("beforeend", results[i]["html_version"]);
                    }
                });
                
                return false;
            }
            
            function toggleMenuOnSmallScreens() {
                var x = document.getElementById("navDemo");
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                } else {
                    x.className = x.className.replace(" w3-show", "");
                }
            }
        
        </script>

    </body>

</html>
