<head>    
    <base href="/">    
</head>

<!-- Navbar -->
<div id="navigation-snippet" class="w3-top">
    
  <div class="w3-bar w3-orange w3-left-align w3-large w3-border-bottom w3-border-black" id="navbar_contents">
      
    <a href="/register" class="w3-bar-item w3-button w3-padding-16 w3-hover-white w3-black w3-right" id="register_navbar_link">Register
    </a>
    
    <a href="/login" class="w3-bar-item w3-button w3-padding-16 w3-hover-white w3-black w3-right" id="login_navbar_link">LogIn
    </a>
    
    <a href="/" class="w3-bar-item w3-button w3-hover-white w3-black">
        <img src="/static/img/logo/logo_cropped.png" alt="Tiger Rides Logo" width="140px" height="43px">
    </a>

  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
  </div>
  
</div>
