<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Tiger Rides</title>
    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
        .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
        .fa-anchor,.fa-coffee {font-size:200px}
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column; 
            background-color: #E0E0E0;         
        }
        
        form {
            border-radius: 5px;
            background-color: white;
            align-content: center;
            min-width: 80%;
            max-width: 80%;
            padding: 25px;
        }
        
        #tiger_rides_body {
            flex: 1
        }
    </style>
    <script>
        // Resize elements that should have matching heights
        $(document).ready(function(){
            $(window).resize(function(){
                var height = $("#navigation-placeholder").height();
                $("#dummy_padded_div").height(height);
            });    
        });
        
    </script>
</head>

<body>

    <!-- Navigation Bar -->

    <div id="navigation-placeholder"></div>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(function(){
            $("#navigation-placeholder").load("./navigation.html");
        });
    </script>

    <!-- End of Navigation Bar -->
    
    <!-- Main part of the Tiger Riges Application UI -->
    
    <div class="w3-container w3-padding-large" id="tiger_rides_body">
    
        <!-- Padded element to make sure that the navigation bar never covers
        the first element that has text. See the script in the header for info -->
        <div class="w3-container" id="dummy_padded_div" style="height: 50px"></div>

        <!-- Present a Registration Form-->
        <div class="w3-container w3-padding-large">
            <div class="w3-container w3-padding-large" id="registration_form_holder">
                
                <h5>Glad to have you join us!<br></h5>
                                
                <form id="registration_form">
                    
                    <p><strong>Please fill out the following fields:</strong></p>
                    
                    <label for="first_name"> First Name:</label>
                    <input class="w3-input" type="text" name="first_name" required/>
                    <br />
                    
                    <label for="last_name"> Last Name: </label>
                    <input class="w3-input" type="text" name="last_name"required/>
                    <br />
                    
                    <label for="email_address"> Email: </label>
                    <input class="w3-input" type="email" name ="email_address" required/>
                    <br />
                    
                    <label for="password"> Password: </label>
                    <input class="w3-input" type="password" name="password" minlength="8" required/>
                    <br />

                    <p><strong>Please enter your trip information:</strong></p>
                    
                    <label for="origin">Origin:</label>
                    <input class="w3-input" type="text" name="origin" />
                    <br />
                    
                    <label for="destination">Destination:</label>
                    <input class="w3-input" type="text" name="destination" value="Princeton University" />
                    <br />
                    
                    <label for="departure_date">Departure Date:</label>
                    <input class="w3-input" type="date" name="departure_date" />
                    <br />
                    
                    <label for="departure_time">Departure Time:</label>
                    <input class="w3-input" type="time" name="departure_time" />

                    <p>If you have a car, how many seats can you offer?</p>
                    <input class="w3-input" type="number" name="seats_available" min="0"/>
                    <br />
                
                    <button class="w3-button w3-green" type="submit" onclick="return registerNewMember()">Register</button>
                    
                </form>
                
            </div>
            
            <!-- Process the search query -->
            <script>
                function registerNewMember() {
                    var form = document.getElementById("registration_form");
                    if (form.reportValidity() === false) {
                        alert("Please fill out the required fields");
                        return;
                    }
                    
                    var elements = form.elements;
                    var payload = {};
                    
                    for (var i = 0; i < elements.length; i++) {
                        payload[elements[i].name] = elements[i].value;
                    }
                    delete payload[""];
                    
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function() {
                        if (this.readyState == 4 && this.status == 200) {
                            var results = JSON.parse(this.responseText);
                            if (results["registration_status"] == true) {
                                alert("Successful registration. Now log in with your email address and password");
                                window.location = "/login";
                            } else {
                                alert(results["registration_message"]);
                                // window.location = "/register";
                            }
                        }
                    
                    }
                    xhttp.open("POST", "/register/", true);
                    xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                    xhttp.send(JSON.stringify(payload));
                    
                    // https://stackoverflow.com/questions/7393484/xmlhttprequest-asynchronous-not-working-always-returns-status-0
                    return false;
                }
            </script>
        </div>
        
        <!-- End of Second Grid-->
    
    </div>
    
    <!-- End of Tiger Rides UI -->
    
    <!-- Footer style -->
    <footer class="w3-row-padding w3-padding-small w3-container w3-black">
        <p class="w3-center">
            CSS provided by <a href="https://www.w3schools.com/w3css/">W3 CSS</a><br>
            Logo made with <a href="https://www.designevo.com/" title="Free Online Logo Maker">DesignEvo</a><br>
            &#169; Chege Gitau & Komron Shayegan, 2018
        </p>
    </footer>
    
    <!-- End of Footer -->

</body>

</html>
